<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
    <link rel="stylesheet" href="../../../../../../../HAMA-main/css/common/btn.css"> <!-- 버튼 css -->
    <link rel="stylesheet" href="../../../../../../../HAMA-main/css/common/font.css"> <!-- 폰트 css -->
    <link rel="stylesheet" href="../../../../../../../HAMA-main/css/common/header.css"> <!-- 헤더 CSS-->
    <link rel="stylesheet" href="../../../../../../../HAMA-main/css/common/footer_color.css"> <!-- 푸터 컬러 CSS-->
    <link rel="stylesheet" href="../../../../../../../HAMA-main/css/common/footer_style.css"> <!-- 푸터 스타일 CSS-->

    <link rel="stylesheet" href="../../../../../../../HAMA-main/css/community_read.css">
    <script src="https://kit.fontawesome.com/ba16334cfd.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@400;600&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
    
    
    <div class="read_container">
        <div class="read_wrap">
            <div class="read_category">
                <div>커뮤니티 > 궁금해요</div>
            </div>
            <div class="read_txt"></div>
            <div class="read_cmt"></div>
        </div>
    </div>
   
</body>
<script src="../../../../../../../HAMA-main/js/community.js"></script>
<script src="../../../../../../../HAMA-main/js/community_read.js"></script>



</html>