<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bfabd822e0.js" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="http://192.168.0.36:5500/project/index/header.css">
   <link rel="stylesheet" href="http://192.168.0.36:5500/project/index/login.css">
   <style>
    .main .section3 .section3_left .item1{
  background-color: rgb(160, 160, 160);
}
   </style>
</head>
<body>
    <div class="container">
        
        <!-- header -->
        
        <div class="header">
            <div class="headers">
                <div class="logo_loggo">
            
                <!-- logo / 로고 -->
                <div class="logo"
                    onclick="location.href='http://192.168.0.36:5500/project/index/index.html'"
                    style="cursor: pointer;"><img src="../iamge/로고.PNG" width="140px" height="70px"></div>
                </div>
            
                <!-- 로고 옆 gnb 커뮤니티,채팅 등등 -->            
                <div class="gnb">
                    <ul class="menu">
                <!-- 일을주마 -->
                        <li>
                           <a href="#">일을주마</a>
                           <ul class="depth_1">
                               <li><a href="#">견적요청</a></li>
                           </ul>
                        </li>
                <!-- 일을하마 -->
                        <li>
                           <a href="#">일을하마</a>
                           <ul class="depth_1">
                               <li><a href="#">요청게시판</a></li>
                           </ul>
                        </li>
                <!-- 커뮤니티 -->
                        <li>
                          <a href="#">커뮤니티</a>
                        </li>
                <!-- 하마찾기 -->
                        <li>
                          <a href="#">하마찾기</a>
                        </li>
                      </ul>
                </div>
            
                <!-- 로그인,회원가입  -->
                <div class="login_signup">
                    <div></div>
                    <div class="login" onclick="location.href='http://192.168.0.36:5500/project/login/login.html'"style="cursor: pointer;">받은요청</div>
                    <div class="login" onclick="location.href='http://192.168.0.36:5500/project/login/signup.html'"style="cursor: pointer;">보낸견적</div>
                    <div class="login" onclick="location.href='http://192.168.0.36:5500/project/login/signup.html'"style="cursor: pointer;">채팅</div>
                    <div class="login2"style="cursor: pointer;">
                        <li>
                            <a href="#"><i class="fa-solid fa-user"></i></i></a>
                            <ul class="depth_1">
                                <li><p>회원관리</p></li>
                                <li><a href="#">하마신청</a></li>
                                <li><a href="#">프로필등록</a></li>
                                <li><a href="#">회원정보수정</a></li>
                                <li><a href="#">회원탈퇴</a></li>
                                <li><p>하마전용</p></li>
                                <li><a href="#">포트폴리오</a></li>
                            </ul>
                         </li></div>
                    
                </div>
            </div>
        </div>
        <div class="login"> 
            <div class="form-wrap"><!--아이템이 2개 form/menu-->
                
                <!--
                form.form>input.form__id+input.form__pw+input[type='submit'].btn
                form : 블럭레벨
                input : 인라인 -->
                <form action="서버프로그램URL" class="form" method="get">
    
                    <!--로그인창 함께하마 타이틀-->
                    <div class="form__row">
                        <img src="http://192.168.0.36:5500/project/iamge/로고.PNG" alt=""
                        width="300px" height="150px">
                    </div>
    
                    <!--아이디 입력 박스-->
                    <div class="form__row">
                        <i class="fa-solid fa-user fa-bounce"></i> <!--아이디 아이콘-->
    
                        <!--아이디 입력-->
                        <input 
                            type="text" 
                            class="form__id from__item" 
                            placeholder="이메일 아이디"
                            name = 'id'/> 
                    </div>
    
    
                    <!--비밀번호 입력 박스-->
                    <div class="form__row">
                        <i class="fa-solid fa-key fa-bounce"></i> <!--아이콘-->
    
                        <!--비밀번호 입력-->
                        <input 
                            type="text" 
                            class="form__pw from__item" 
                            placeholder="비밀번호"
                            name = 'pw'/> 
                    </div>
                    
                    <!--로그인 버튼-->
                    <div class="form__row">
    
                        <input 
                            type="submit" 
                            value="로그인" 
                            class="form__btn form__btn--disable"/> 
                    </div>
    
                    <div class="form__row">
                        <input 
                            type="submit" 
                            value="카카오톡 로그인" 
                            class="form__KAbtn form__btn--disable"/> 
                    </div>
    
                </form>
                
                <!-- ul>li*3>a
                순서가 없는 ul의 리스트3개의 a태그(링크) -->
                <ul = class="menu">
                    <li class="item"><a href="#">회원가입</a></li>
                    <li class="item"><a href="#">아이디찾기</a></li>
                    <li class="item"><a href="#">비밀번호찾기</a></li>
                </ul>
    
            </div>
    
        </div>
    
    </div>

    <!-- 푸터시작 -->
        <div class="footer">
            <div class="footer_top">
                <!-- 푸터 위쪽 고객센터, 회사정보 -->
                <!-- 고객센터 part1 -->
                <div class="item2"><p class="cuscenter"><strong>고객센터</strong></p>
                    <ul class="policy">
                        <li><a href="http://192.168.0.36:5500/project/customer/board.html">공지사항</a></li>
                        <li><a href="#">1:1문의</a></li>
                        <li><a href="http://192.168.0.36:5500/project/customer/question.html">자주묻는질문</a></li>
                        <li><a href="#">우주하마</a></li>
                    </ul>
                </div>
                <!-- 고객센터 part2 -->
                <div class="item3">
                <div class="text3_box1">
                    <p><strong>&nbsp;</strong></p></div>
                <div class="text3_box2">
                    평일 : 오전9:00~ 오후18:00<br>
                    점심 : 오후12:00~ 오후13:00 토/일/공휴일 휴무</div>
                <div class="text3_box3">
                    <i class="fa-solid fa-phone"></i>
                    <strong>070-1234-5678</strong></div>
                <div class="text3_box4">
                    국민은행 : 015-13413-123-01 (예금주 : 홍길동)<br>
                    농협은행 : 15413-123-01 (예금주 : 홍길동)</div>  
                </div>
                <!-- 회사정보 -->
                <div class="item4">
                    <p><strong>회사정보</strong></p>
                                        TEL:070-1234-5678 E-MAIL : WEBMASTER@HOTMAIL.COM<br>
                    ADDRESS1 : 서울 서초구 양재동 147-15번지 떡잎물산 418호<br>
                    BUSINESS LICENSE : 417-24-78612<br>
                    MAIL ORDER LICENSE : 제2022-서울서초-0817호
                <br>
                    PERSONAL INFO MANAGER : 강감찬
                    
                </div>
            </div>
            <!-- 푸터 아래쪽 -->
            <div class="footer_bot">
                <!-- 맨 밑 문구 -->
                <div class="item6"><p>COPYRIGHTⓒ AIRMALL ALL RIGHT RESERVERD.DESIGNED BY TESTKOREA DESIGN 3.0 VERSION.
                    
                </p></div>
                </div>
        </div>
</body>
</html>