<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main1.css">
    <link rel="stylesheet" href="./main1_size.css">
</head>
<body>
    <div class="container__main1">
        <div class="main1">
            <div class="top__main1">
                <div class="service__main1">서비스추천</div>
                <div class="full__main1"><a href="#">전체보기</a></div>
            </div>
            <div class="content__main1">
                <div class="sec__main1">
                    <div class="box__main1 box1" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/aa.jpg">
                        <div class="menu__main1 menu1"><a href="#">영어과외</a></div>
                    </div>
                    <div class="box__main1 box2" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/bb.jpg">
                        <div class="menu__main1 menu2"><a href="#">퍼스널트레이닝</a></div>
                    </div>
                    <div class="box__main1 box3" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/cc.jpg">
                        <div class="menu__main1 menu3"><a href="#">보컬</a></div>
                    </div>
                    <div class="box__main1 box4" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/dd.jpg">
                        <div class="menu__main1 menu4"><a href="#">리모델링</a></div>
                    </div>
                    <div class="box__main1 box5" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/aa.jpg">
                        <div class="menu__main1 menu5"><a href="#">영어과외</a></div>
                    </div>
                    <div class="box__main1 box6" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/bb.jpg">
                        <div class="menu__main1 menu6"><a href="#">퍼스널트레이닝</a></div>
                    </div>
                    <div class="box__main1 box7" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/cc.jpg">
                        <div class="menu__main1 menu7"><a href="#">보컬</a></div>
                    </div>
                    <div class="box__main1 box8" onclick="location.href='#'" style="cursor: pointer;">
                        <img src="../img/dd.jpg">
                        <div class="menu__main1 menu8"><a href="#">리모델링</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>