<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main2.css">
 
</head>
<body>
    <div class="container__main2">
        <div class="main2">
            <div class="section__main2">
                <!-- 제목 : 하마찾기 -->
                <div class="main2_head">
                    <div class="title__main2"><h2>하마찾기</h2></div>
                    <div class="allfind"><h3>+전체보기</h3></div>
                </div>
                <div class="information__main2">
                    <!-- 박스 1 -->
                    <div class="item__main2">
                        <div class="box1__main2">
                            <!-- 이미지 -->
                            <div class="pic"><img src="/iamge/hand-s.jpg" alt=""></div>
                            <!-- 직업, 별명 -->
                            <div class="box1_head">
                                <div class="job__main2">우주하마 전문가</div>
                                <div class="nickname__main2">리얼하마 하마님</div>
                            </div>
                        </div>
                        <!-- 소개글 -->
                        <div class="box2__main2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, atque culpa!.</p></div>
                        <!-- 매칭,경력 -->
                        <div class="box3__main2">매칭10회 · 경력15년
                        </div>
                    </div>
                    <div class="item__main2">
                        <div class="box1__main2">
                            <div class="pic__main2"><img src="/iamge/hand-s.jpg" alt=""></div>
                            <div class="box1_head">
                                <div class="job__main2">프로게이머</div>
                                <div class="nickname__main2">라일라이 하마님</div>
                            </div>
                        </div>
                        <div class="box2__main2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam numquam facilis. </p></div>
                        <div class="box3__main2">매칭2회
                            · 경력15년
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>