<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="./main3.css">
</head>

<body>

    <!--커뮤니티 전체 박스-->
    <div class="community__main3">

        <!--커뮤니티 메뉴박스(전체보기/궁금얼마모여)-->
        <div class="community__menu">

            <div class="community__more">
                <a class="community__cate__link" href="#">전체보기</a>
            </div>

            <div class="community__cate">
                <span class="community__cate__desc"><a class="community__cate__link" href="#">궁금해요</a></span>
                <span class="community__cate__desc"><a class="community__cate__link" href="#">얼마예요</a></span>
                <span class="community__cate__desc"><a class="community__cate__link" href="#">모여봐요</a></span>
            </div>

        </div>

        <!--게시글 박스-->
        <div class="community__post">

            <div class="item__main3">
                <div class="item__cate">카테고리</div>

                <!--사진+제목+내용 박스-->
                <div class="item__post">
                    <img class="pic" src="https://picsum.photos/50" alt="" />
                    
                    <ul class="desc">
                        <li class="item__post__desc__title">제목</li>
                        <li>내용</li>
                    </ul>
                </div>
            </div>

            <div class="item__main3">
                <div class="item__cate">카테고리</div>

                <!--사진+제목+내용 박스-->
                <div class="item__post">
                    <img class="pic" src="https://picsum.photos/50" alt="" />

                    <ul class="desc">
                        <li class="item__post__desc__title">제목</li>
                        <li>내용</li>
                    </ul>
                </div>
            </div>


            <div class="item__main3">
                <div class="item__cate">카테고리</div>
                
                <!--사진+제목+내용 박스-->
                <div class="item__post">
                    <img class="pic" src="https://picsum.photos/50" alt="" />
                    <ul class="desc">
                        <li class="item__post__desc__title">제목</li>
                        <li>내용</li>
                    </ul>
                </div>
            </div>


            <div class="item__main3">
                <div class="item__cate">카테고리</div>

                <!--사진+제목+내용 박스-->
                <div class="item__post">
                    <img class="pic" src="https://picsum.photos/50" alt="" />
                    <ul class="desc">
                        <li class="item__post__desc__title">제목</li>
                        <li>내용</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    
</body>
</html>
