<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">
<!--only_footer, beforHeader afterHeader-->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/workgive/wg.css}">
  <link rel="stylesheet" th:href="@{/css/workgive/wg2.css}">
</th:block>

<div layout:fragment="content">
  <body>
  <div class="container_wg">
<!--    <div class="banner_wg">-->
<!--&lt;!&ndash;      <img th:src="@{/img/견적요청_배너.png}" >&ndash;&gt;-->
<!--    </div>-->
    <div class="main_wg">
      <input type="radio" id="tab-1" name="show" checked/>
      <input type="radio" id="tab-2" name="show" />
      <input type="radio" id="tab-3" name="show" />
      <input type="radio" id="tab-4" name="show" />
      <input type="radio" id="tab-5" name="show" />
      <input type="radio" id="tab-6" name="show" />
      <!-- 상단 메인 카테고리 -->
      <div class="item_box_top">
        <label for="tab-1" class="item">
          <div class="pic"><img th:src="@{/img/아이콘/청소_이사.png}" alt=""></div>
        </label>
        <label for="tab-2" class="item">
          <div class="pic"><img th:src="@{/img/아이콘/레슨.png}" alt=""></div>
        </label>
        <label for="tab-3" class="item">
          <div class="pic"><img th:src="@{/img/아이콘/디자인_개발.png}" alt=""></div>
        </label>
        <label for="tab-4" class="item">
          <div class="pic"><img th:src="@{/img/아이콘/도우미.png}" alt=""></div>
        </label>
        <label for="tab-5" class="item">
          <div class="pic"><img th:src="@{/img/아이콘/반려동물.png}" alt=""></div>
        </label>
        <label for="tab-6" class="item">
          <div class="pic"><img th:src="@{/img/아이콘/기타.png}" alt=""></div>
        </label>
      </div>

      <!-- 하단 세부 카테고리 -->
      <div class="main2">
        <div class="item_box_bottom first">
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/집청소.jpg}" alt=""></div>
            <div class="box2">가정집 청소</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/사무실4-2.jpg}" alt=""></div>
            <div class="box2">사무실 청소</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/인테리어.jpg}" alt=""></div>
            <div class="box2">인테리어</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/이사2.jpg}" alt=""></div>
            <div class="box2">포장 이사</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/배수구2.jpg}" alt=""></div>
            <div class="box2">배수구 청소</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/그외.jpg}" alt=""></div>
            <div class="box2">그 외</div>
          </div>
        </div>
        <div class="item_box_bottom second">
          <div class="item">
            <div class="box1"><img th:src="@{/img/레슨/PT.jpg}" alt=""></div>
            <div class="box2">개인 PT</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/레슨/골프.jpg}" alt=""></div>
            <div class="box2">골프 레슨</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/레슨/수학.jpg}" alt=""></div>
            <div class="box2">수학 과외</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/레슨/영어.jpg}" alt=""></div>
            <div class="box2">영어 과외</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/레슨/악기.jpg}" alt=""></div>
            <div class="box2">악기 레슨</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/그외.jpg}" alt=""></div>
            <div class="box2">그 외</div>
          </div>
        </div>
        <div class="item_box_bottom third">
          <div class="item">
            <div class="box1"><img th:src="@{/img/디자인/일러2.jpg}" alt=""></div>
            <div class="box2">일러스트 디자인</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/디자인/웹디.jpg}" alt=""></div>
            <div class="box2">웹 디자인</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/디자인/소프트.jpg}" alt=""></div>
            <div class="box2">소프트웨어 개발</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/디자인/간판.jpg}" alt=""></div>
            <div class="box2">간판 디자인</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/디자인/AI.jpg}" alt=""></div>
            <div class="box2">AI개발</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/그외.jpg}" alt=""></div>
            <div class="box2">그 외</div>
          </div>
        </div>
        <div class="item_box_bottom four">
          <div class="item">
            <div class="box1"><img th:src="@{/img/도우미/가사.jpg}" alt=""></div>
            <div class="box2"><p>가사 도우미</p></div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/도우미/배달.jpg}" alt=""></div>
            <div class="box2">배달 심부름</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/도우미/세탁.jpg}" alt=""></div>
            <div class="box2">세탁 도우미</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/도우미/벌레2.jpg}" alt=""></div>
            <div class="box2">벌레 잡기</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/도우미/줄서기.jpg}" alt=""></div>
            <div class="box2">줄서기 대행</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/그외.jpg}" alt=""></div>
            <div class="box2">그 외</div>
          </div>
        </div>
        <div class="item_box_bottom five">
          <div class="item">
            <div class="box1"><img th:src="@{/img/반려/산책.jpg}" alt=""></div>
            <div class="box2">반려견 산책</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/반려/사진.jpg}" alt=""></div>
            <div class="box2">반려동물 사진</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/반려/목욕.jpg}" alt=""></div>
            <div class="box2">반려동물 목욕</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/반려/미용.jpg}" alt=""></div>
            <div class="box2">반려동물 미용</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/반려/호텔.jpg}" alt=""></div>
            <div class="box2">반려동물 호텔</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/그외.jpg}" alt=""></div>
            <div class="box2">그 외</div>
          </div>
        </div>
        <div class="item_box_bottom six">
          <div class="item">
            <div class="box1"><img th:src="@{/img/기타/대관.jpg}" alt=""></div>
            <div class="box2">대여/대관</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/기타/공예2.jpg}" alt=""></div>
            <div class="box2">공예 제작</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/기타/법률.jpg}" alt=""></div>
            <div class="box2">법률 도움</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/기타/금융.jpg}" alt=""></div>
            <div class="box2">금융 도움</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/기타/서류.jpg}" alt=""></div>
            <div class="box2">서류작성</div>
          </div>
          <div class="item">
            <div class="box1"><img th:src="@{/img/청소/그외.jpg}" alt=""></div>
            <div class="box2">그 외</div>
          </div>
        </div>
      </div>
    </div>
</div>
    <script src="/js/wgCategory.js">
    </script>
  </body>

</html>