.container{
    display : grid;
    grid-template-areas: ". main .";
    grid-template-columns: 1fr 600px 1fr;
}
.main{
    grid-area: main;

}
.btn{
    width: 50px;
    height: 20px;
    margin-top : 10px
}