
        /* *{outline: 1px solid red;} */

        *{
            margin: 0; padding: 0;
            /* border: 1px solid red; */
        }

        /* 컬러 */
        :root{
            --color-font1 : #2A2F57; /* 글자색 */
            --color-font2 : #381B1B; /* 카카오톡 글자색 */
            
            --color-bg1 : #CCCCFF;  /* 배경색 */
            --color-bg2 : #F1D900;  /* 카카오톡 버튼 배경 */
        }

        /*리스트 점 없애기*/
        ul{
            list-style: none;
        }

        /*밑줄없애기*/
        a{
            text-decoration: none;
            color: inherit;
        }
        .content{
            display:flex;
            justify-content:center;
        }
        /*전체화면 */
        .login__form{
            display: flex;
            height: 100vh;
            margin-right:80px
            justify-content:center;
            align-items: center; /*y축 중앙 정렬*/
            box-shadow:
        }

        /* 함께하마 로고 */
        /* .form__row.logo img{
            margin-bottom: 20px;
        } */

        /* 로그인 박스 전체 wrap */
        .login__form .form-wrap{
            position: relative;
            width: 450px;
        }

        /*블럭레벨인 form 태그를 세로로 나열하고 싶다면*/
        .login__form .form{
            display: flex;
            flex-direction: column;
            border: 0.625px solid var(--color-bg1);
            width: 400px;
            padding: 15px;
            border-radius:16px;
            margin-right: 30px;
        }

        /* 로그인창 모든 개별 박스  */
        .login__form .form .form__row{
            display: flex;
            padding: 10px 10px;
        }
        
        /* 타이틀 */
        .login__form .form .form__row:nth-of-type(1){
            justify-content: center;
            object-fit : contain;
            align-items: end;
        }
        
        /*아이디 + 비밀번호*/
        .login__form .form .form__row:nth-of-type(2),
        .login__form .form .form__row:nth-of-type(3){
            border: 1px solid var(--color-bg1);
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        /* 로그인 / 카카오톡 로그인 버튼 여백*/
        .login__form .form .form__row:nth-of-type(4),
        .login__form .form .form__row:nth-of-type(5){
            padding: 5px 0;
        }

        /*아이디와 비밀번호의 아이콘 박스*/
        .login__form .form .form__row i{
            margin-right: 10px;
        }

        /*아이디와 비밀번호 박스*/
        .login__form .form .form__row .from__item{
            flex: 1; /*아이디와 비밀번호의 박스가 부모요소의 나머지 폭 공간을 차지*/
            border: none; /* 평상시 외각선*/
            outline: none; /* 클릭시 외각선 */
        }

        /* 에러 메세지 */
        .field-error {
            list-style: none;
            color: #f00000;
            padding-left: 5px;
            margin-top:10px;
        }

       /*로그인 버튼*/
        .login__form .form-wrap .form .form__row .form__btn{
            width: 100%;  /*버튼의 크기가 부모요소의 폭 100%*/
            height: 40px;
            padding: 5px;
            color: var(--color-font1);
            border: 1px solid var(--color-bg1);
            background-color: var(--color-bg1);
            font-weight: bolder; /*폰트 사이즈 굵게(숫자도 가능)*/
            font-size:1.2rem;
            border-radius:5px;
            margin-top:20px;
            cursor : pointer;
        }

        .login__form .menu_find{
            display: flex;
            justify-content: space-around; /*부모컨테이너 안에서 가운데로*/
            padding: 10px 0;
            color: var(--color-font1);
        }

        /*부모요소인 a의 위치를 잡아준다(가상요소인 딱지의 위치때문) */
        .login__form .menu_find .item a{
            position: relative;
        }
        /*가상요소의 위치를 잡아주기 위해 포지션을 absolute로 하여 z축으로 던져버리면
        해당 가상요소는 스태틱이 아닌 부모요소의 위치를 따라가기 때문에(모든 부모요소들은 스태틱이 디폴트) 
        가상요소의 부모인 a태그의 위치를 잡아줘야한다. */

        /* 마우스를 올리면 밑줄이 생기게 */
        .login__form .menu_find .item:hover a{
            text-decoration: underline var(--color-bg1);
        }
        .error.id_error{
            position: absolute;
            top: 210px;
        }
        .error.pw_error{
            position: absolute;
            top: 288px;
        }
        /*마우스를 올리면 메뉴에 가상의 요소가 생기게*/
        