/* 공통사항 */
.container__main1 {
    display: grid;
    grid-template-columns: 1fr 1024px 1fr;
    grid-template-areas: ". main .";
    padding-bottom: 50px;
    
}
.main1 {
    grid-area: main;
}
/* 메인 박스 안에서 카테고리 크기를 조정하기 위해
카테고리 8개만 따로 담은 박스 */
.main1 .content__main1{
    display: flex;
    justify-content: space-around;
}
.main1 .top__main1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* 서비스 추천 */
/* .main1 .top__main1 .service__main1 {
    font-size: var(--font-size-xl);
    font-family: LINESeedKR-Bd;
    font-weight: bold;
} */

/* 전체보기 */
.main1 .top__main1 .full__main1 {
    font-size: small;
    margin-top: 10px;
}
/* 전체보기의 링크 */
.main1 .top__main1 .full__main1 a {
    text-decoration: none;
    color: inherit;
}
/* 8개의 카테고리를 보여주는 박스모음 */
.main1 .sec__main1 {
    display: grid;
    grid-template-areas: "box1 box2 box3 box4"
                         "box5 box6 box7 box8";
    justify-items: center;
    align-items: center;
}

/* 카테고리 텍스트 */
/* .main1 .sec__main1 .box__main1.box1 .menu__main {
    position: relative;
    font-size: var(--font-size-m);
} */

/* 사진 + 텍스트를 포함한 박스 */
.main1 .sec__main1 .box__main1 {
    position: relative;
    grid-template-columns: 2fr;
    width: 150px;
    height: auto;
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.main1 .sec__main1 .box__main1.box1 {
    grid-area: box1;
}
.main1 .sec__main1 .box__main1.box2 {
    grid-area: box2;
}
.main1 .sec__main1 .box__main1.box3 {
    grid-area: box3;
}
.main1 .sec__main1 .box__main1.box4 {
    grid-area: box4;
}
.main1 .sec__main1 .box__main1.box5 {
    grid-area: box5;
}
.main1 .sec__main1 .box__main1.box6 {
    grid-area: box6;
}
.main1 .sec__main1 .box__main1.box7 {
    grid-area: box7;
}
.main1 .sec__main1 .box__main1.box8 {
    grid-area: box8;
}
.main1 .sec__main1 .box__main1 img {
    width: 170px;
    border-radius: 15px;
}
.main1 .sec__main1 .box__main1 .menu__main1 a {
    text-decoration: none;
    color: inherit;
}