    /*모든 요소 테두리*/
    /* *{outline: 1px solid red;} */

    *{margin: 0px; padding: 0px;}

    
    /* 리스트 스타일 지우기(점) */
    ul{list-style: none;}


    
    /* 전체박스 그리드 위치 정렬 */
    .community__main3{
        display: grid;
        grid-template-areas: 
        ". community__menu ."
        ". main3 .";
        grid-template-columns: 1fr 1024px 1fr;
        padding-bottom: 50px;
        flex-wrap: wrap;
    }
    
    
    /* 궁금해요 얼마예요 모여봐요 위치 */
    .community__menu{
        grid-area: community__menu;
        
        
    }
    
    /* 게시글 박스 위치정렬, 감싸기 */
    .community__main3 .community__post{
        grid-area: main3;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .main3 .community__main3 .community__menu .community__more{
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 30px;
    }
    
    /* 전체보기 위치 정렬*/
    .community__more{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

    }
    .main3 .community__main3 .community__menu .community__more .full__main3{
    /* 전체보기 폰트 사이즈 */
    font-size: small;
    }

    /* a태그 파란색 지우기*/
    .community__main3 .community__menu .community__cate__link{
        text-decoration: none;
        color: inherit; /* 검은색 강제 부여*/
        font-size: 17px;
        
    }
    
    /* 궁금해요 얼마예요 모여봐요 전체박스 중앙정렬 및 여백*/
    .community__cate{
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 10px;
    }

    /* 궁금해요 얼마예요 모여봐요 개별 박스 */
    .community__main3 .community__menu .community__cate .community__cate__desc{
        /*사이 여백*/
        margin-left: 20px;
        margin-right: 20px;

        font-weight: bold;
        font-size: larger;
    }
               
    /*게시글 카테고리 */
    .item__cate
    {
        margin-left: 20px; /* 왼쪽 여백 */
        font-size: small; /* 폰트 사이즈 */
    }

    /*게시글 박스들 사이 여백*/
    .community__main3 .community__post .item__main3{
        margin: 40px;
        padding: 10px;
        width: 412px;

        /*게시글 박스 별 회색 구분선*/
        border-top: 1px solid #eee;

    }

    /* 사진, 제목, 내용 위치*/
    .community__main3 .community__post .item__main3 .item__post{
        display: flex; 
    }

    /* 커뮤니티 게시글 사진 */
    .community__main3 .community__post .item__main3 .item__post .pic{
        margin : 10px;
        border-radius: 50%;
        width: 70px;
    }

    /* 제목, 내용 박스 크기 */
    .community__main3 .community__post .item__main3 .item__post .desc{
        flex: 1;
        margin-top: 20px;    

    }
    
    /*글 제목 폰트*/
    .item__post__desc__title
    {
        font-weight: bolder;
    }
    