        
        .container__main2{
            display: grid;
            grid-template-columns: 1fr 1024px 1fr;
            grid-template-areas: ". main2 .";
            padding-bottom: 50px;
        }
        .main2{
            grid-area: main2;
        }
        .main2 .section__main2 .information__main2{
            display: flex;
            justify-content: space-around;
        }
        /* 제목 */
        .main2 .section__main2 .main2_head{
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 30px;
        }
        .main2 .section__main2 .main2_head .full__main2{
            position: absolute;
            right: 0px;
            font-size: small;
        }
        /* 박스 */
        .main2 .section__main2 .item__main2{
            border: .0625rem solid #f2f2f2;
            background-color: #fafafa;
            border-radius: 16px;
            width: 430px;
            height: 136px;
            padding: 20px;
        }
        /* 이미지, 직업, 별명 부모박스 */
        .main2 .section__main2 .item__main2 .box1__main2{
            display: flex;
            position: relative;
        }
        /* 이미지 박스 */
        .main2 .section__main2 .item__main2 .box1__main2 .pic__main2 {
            width: 3rem;
            height: 3rem;
            margin-right: 0.75rem;
            
        }
        /* 이미지 */
        .main2 .section__main2 .item__main2 .box1__main2 .pic__main2 img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
        /* 소개글 */
        .main2 .section__main2 .item__main2 .box2__main2 p{
            margin: 1rem 0 0.75rem;
            height: 42px;
        }
        /* 경력 */
        .main2 .section__main2 .item__main2 .box3__main2 {
            margin-top: 1rem;
        }
        /* 별명 */
        .main2 .section__main2 .item__main2 .box1__main2 .nickname__main2{
            font-size: 1.125rem;
            font-weight: 1000;
            margin-top: 0.125rem;
        }
        /* 직업 소개 경력 */
        .main2 .section__main2 .item__main2 .box1__main2 .job__main2,
        .main2 .section__main2 .item__main2 .box2__main2 ,
        .main2 .section__main2 .item__main2 .box3__main2 {
            font-size: 0.875rem;
        }